
	<div class = "jumbotron">
    <div class = "container">
      <h1>Published Works</h1>
      <h3>Add Book</h3>
    </div>
  </div>

	<div class="container">
	<!-- Sucess message -->
	<div id="message"></div>

  <!-- Add Book Form -->
  {{#each books}}
  <h3 value="{{this.id}}">Database ID: {{this.id}}</h3>
  <input type="hidden" name="id" id="ArtId" value="{{this.id}}">
  <form class="form-horizontal">

	  <div class="form-group">
	    <label for="books_id" class="col-sm-2 control-label">Book Database ID</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="books_id" value="{{this.BookId}}">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="pageNumber" class="col-sm-2 control-label">Page Number(s)</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="pageNumber" value="{{this.page_num}}">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="format" class="col-sm-2 control-label">Format</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="format" value="{{this.format}}">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="description" class="col-sm-2 control-label">Description</label>
	    <div class="col-sm-10">
	      <textarea rows=3 type="text" class="form-control" id="description" value="{{this.description}}">{{this.description}}</textarea> 
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="img_url" class="col-sm-2 control-label">Image URL</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="img_url" value="{{this.img_url}}">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="feature" class="col-sm-2 control-label">Feature</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="feature" value="{{this.feature}}">
	    </div>
	  </div>

	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" id="addArt" class="btn btn-default">Submit</button>
	    </div>
	  </div>
	</form>

</div>
{{/each}}

<script type="text/javascript">

	var currentURL = window.location.origin;
    
    $("#addArt").on("click", function(event) {
      event.preventDefault();

      var newArtwork = {
        
        id: $("#ArtId").val(),
        page_num: $("#pageNumber").val().trim(),
        format: $("#format").val().trim(),
        img_url: $("#img_url").val().trim(),
        description: $("#description").val().trim(),
        feature: $("#feature").val().trim(),
        BookId: $("#books_id").val().trim()
      };
    

      console.log(newArtwork);
      
      $.post("/cms/editArt", newArtwork)
      .done(function(data) {
        console.log(data);
        // alert("Adding book...");

        // Display sucess message at top of page
        $("#message").html("<p>Sucess! Book added to database. Add another or <a href=\"/\">view entire collection.</a></p>");

        
      });
    });
  </script>

	